<!-- 投手基礎能力部 -->

<!-- 基本能力 -->
<%= render partial: 'pawapuro/players/details/foundation_ability_box', locals: {
  label:"球速",
  ability_value: details_ability_value_pace(@player.pace)
} %>
<%= render partial: 'pawapuro/players/details/foundation_ability_box', locals: {
  label:"コントロール",
  ability_value: details_ability_value_basic(@player.control)
} %>
<%= render partial: 'pawapuro/players/details/foundation_ability_box', locals: {
  label:"スタミナ",
  ability_value: details_ability_value_basic(@player.stamina)
} %>
<!-- 変化球 -->
<div class="d-flex justify-content-start row p-0 p-sm-1 mb-1 pawa-main-box">
  <div class="ps-1 ps-sm-3 pb-2">
    <% @breaking_balls.values.each do |orders| %>
      <%= render partial: 'pawapuro/players/details/breaking_ball_meter', locals: {
        breaking_ball1: orders[1],
        breaking_ball2: orders[2]
      } %>
    <% end %>
  </div>
</div>
