// 属性カラー
$color-fire: #dc143c;
$color-water: #1e90ff;
$color-thunder: #ffd700;
$color-ice: #87cefa;
$color-dragon: #483d8b;
$color-poison: #8a2be2;
$color-paralysis: #daa520;
$color-sleep: #6495ed;
$color-blast: #8b0000;
$color-none: #808080;

// 超特殊許可クエストのテキストカラー
$special-permit-text-color: #EE21E7;

// モンスターアイコンの背景カラー
$monster-icon-bg-color: #5A5B40;

// クエスト詳細カードのテキストカラー
$quest-card-text-color: #442F0F;