<h1>当サイトの説明</h1>
<div class="list-group">
  <a href="<%= pokemon_emerald_factory_participants_path %>" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">【エメラルド】バトルファクトリー参加ポケモン検索</h5>
    </div>
    <p class="mb-1">
      対象ソフト：ポケットモンスターエメラルド<br>
      バトルファクトリーで選出されるポケモンの検索ができる。
    </p>
  </a>
  <a href="<%= pawapuro_index_path %>" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">【パワプロ】選手作成メモ</h5>
    </div>
    <p class="mb-1">
      対象ソフト：パワフルプロ野球2024-2025<br>
      選手を擬似作成し、メモとして保存できる。
    </p>
    <small class="text-body-secondary text-danger">※ログイン時のみ利用可能。</small>
  </a>
  <a href="<%= mhxx_special_permit_times_path %>" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">【MHXX】クエスト別クリアタイムメモ</h5>
    </div>
    <p class="mb-1">
      対象ソフト：モンスターハンターダブルクロス<br>
      【MHXX】クエスト別のクリアタイムをメモとして保存できる。
    </p>
    <small class="text-body-secondary text-danger">※ログイン時のみ利用可能。</small>
  </a>
</div>
