<h1>【MHXX】クリアタイム作成</h1>
<form>
  <div class="ms-2 d-flex">
    <label for="lap" class="form-label">周</label>
    <div class="ms-3">
      <div class="form-check form-check-inline">
        <%= radio_button_tag 'rank_radio', '50', params[:aaa] == '50' || params[:aaa].nil?, class: 'form-check-input', id: 'level50' %>
        <%= label_tag 'rank_radio_50', 'レベル50', class: 'form-check-label', for: 'level50' %>
      </div>
      <div class="form-check form-check-inline">
        <%= radio_button_tag 'rank_radio', 'open', params[:aaa] == 'open', class: 'form-check-input', id: 'open-level' %>
        <%= label_tag 'rank_radio_open', 'オープンレベル', class: 'form-check-label', for: 'open-level' %>
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="questSelect">
      <option selected>クエストを選択してください</option>
      <option value="1">G1：ああああ</option>
      <option value="2">G2：いいいい</option>
      <option value="3">イベント：うううう</option>
      <option value="4">特殊許可：ええええ</option>
    </select>
    <label for="questSelect">クエスト名</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="cleartime" placeholder="name@example.com">
    <label for="cleartime">クリアタイム</label>
    <div class="form-text">区切りなしでの6桁で入力してください。 例）5'01"30 → 050130</div>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="weaponSelect">
      <option selected>武器を選択してください</option>
      <option value="1">G1：ああああ</option>
      <option value="2">G2：いいいい</option>
      <option value="3">イベント：うううう</option>
      <option value="4">特殊許可：ええええ</option>
    </select>
    <label for="weaponSelect">クエスト名</label>
  </div>
</form>