<%# 特殊能力（値なし）の１box %>
<%# HACK: きれいにする %>
<% if ability.length >= 8 %>
  <%# 文字数が12以上の場合、フォントサイズを小さくし、文字間隔も狭くする %>
  <% ability_classes = 'small-font tighter-letter-spacing' %>
<% elsif ability.length >= 7 %>
  <%# 文字数が9以上の場合、文字間隔のみ狭くする %>
  <% ability_classes = 'tighter-letter-spacing' %>
<% else %>
  <%# それ以外の場合、通常のクラスを適用 %>
  <% ability_classes = '' %>
<% end %>
<%
good_abilities = ['キレ〇', 'ジャイロボール', '重い球', '逃げ球', '尻上がり', '奪三振', '牽制〇', 'リリース〇', '打球反応〇', '勝ち運', '闘志', '威圧感(投手)', '根性〇', 'クロスファイヤー', '球持ち〇', '低め〇', '緩急〇', '対強打者〇', '緊急登板〇', '球速安定', '内角攻め', '回またぎ〇', '投打躍動', 'ナチュラルシュート', '全開', '対ランナー〇', '立ち上がり〇', '真っスラ', '要所〇', 'アベレージヒッター', 'パワーヒッター', 'ラインドライブ', '広角打法', 'プルヒッター', '流し打ち', '固め打ち', '粘り打ち', 'バント〇', 'バント職人', '内野安打〇', '初球〇', 'チャンスメーカー', '逆境〇', '代打〇', 'ハイボールヒッター', 'ローボールヒッター', 'いぶし銀', '守備職人', 'ムード〇', '意外性', '対エース〇', 'ホーム突入', 'プレッシャーラン', 'かく乱', 'インコースヒッター', 'アウトコースヒッター', '対変化球〇', 'ダメ押し', '威圧感(野手)', 'お祭り男', 'カット打ち', '窮地〇', '決勝打', '高速チャージ', 'サヨナラ男(安打)', 'サヨナラ男(本塁打)', '対ストレート〇', 'ヘッドスライディング', 'ホーム死守', 'マルチ弾', '満塁男(安打)', '満塁男(本塁打)', 'リベンジ', 'レーザービーム', '国際大会〇', '春男', '夏男', '秋男', 'ツバメキラー', '横浜キラー', '阪神キラー', '巨人キラー', '広島キラー', '中日キラー', 'オリックスキラー', 'ホークスキラー', 'レオキラー', '楽天キラー', 'ロッテキラー', '日本ハムキラー'
]
bad_abilities = ['軽い球', '一発', '負け運', 'シュート回転', '寸前✕', '四球', '対ランナー✕', 'スロースターター', '短気', '乱調', 'ノミの心臓', 'ガラスのハート', '三振', 'ムード✕', 'エラー', '併殺', '扇風機', '国際大会✕'
]
good_and_bad_abilities = ['フライボールピッチャー', 'ゴロピッチャー', 'ポーカーフェイス', '荒れ球', '力配分', '悪球打ち'
]
special_abilities = ['強心臓', '左キラー', '不屈の魂', '怪童', '走者釘付', '驚異の切れ味', 'ハイスピンジャイロ', '怪物球威', '本塁打厳禁', 'ギアチェンジ', '終盤力', 'ドクターK', '勝利の星', '闘魂', 'ド根性', 'クロスキャノン', 'ディレイドアーム', '精密機械', '変幻自在', '主砲キラー', '内角無双', '超投打躍動', '暴れ球', '完全燃焼', 'トップギア', 'ガソリンタンク', '鉄腕', '勝負師', '左腕キラー', '球界の頭脳', 'ささやき戦術', '電光石火', '高速ベースラン', 'ストライク送球', 'バズーカ送球', '安打製造機', 'アーチスト', '広角砲', '引っ張り屋', '芸術的流し打ち', 'メッタ打ち', 'ロケットスタート', '一球入魂', '切り込み隊長', '火事場の馬鹿力', '代打の神様', '高球必打', '低球必打', '魔術師', '精神的支柱', '大番狂わせ', 'エースキラー', '重戦車', 'トリックスター', '内角必打', '外角必打', 'ヒートアップ', '渾身の決勝打', '伝説のサヨナラ男', '気迫ヘッド', '鉄の壁', '恐怖の満塁男', '逆襲', '高速レーザー'
]
sub_abilities = ['ミート多用', '強振多用', '積極打法', '慎重打法', '積極盗塁', '慎重盗塁', '積極守備', '積極走塁', '選球眼', '速球中心', '変化球中心', 'チームプレイ〇', 'チームプレイ✕', '調子安定', '調子極端', 'テンポ〇', '投手位置左', '投手位置右', '人気者', 'フル出場'
]

case
when good_abilities.include?(ability)
  bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-g1', 'pawa-bg-sa-g2', 'pawa-text-good'
when bad_abilities.include?(ability)
  bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-b1', 'pawa-bg-sa-b2', 'pawa-text-bad'
when good_and_bad_abilities.include?(ability)
  bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-gb1', 'pawa-bg-sa-gb2', 'pawa-text-good'
when special_abilities.include?(ability)
  bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-sp1', 'pawa-bg-sa-sp2', 'pawa-text-special'
when sub_abilities.include?(ability)
  bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-sb1', 'pawa-bg-sa-sb2', 'pawa-text-sub'
else
  bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-n1', 'pawa-bg-sa-n2', 'pawa-text-neutral'
end
%>
<div class="col-12 col-sm-3 fs-3 <%= bg_class_1 %> rounded d-flex pawa-ability-box">
  <div class="row p-1 text-center flex-fill">
    <%# raw…文字列をエスケープせずにそのまま表示。 %>
    <span class="col rounded d-flex justify-content-center align-items-center <%= "#{bg_class_2} #{text_class} #{ability_classes}" %>"><%= raw(ability.presence || '&nbsp;') %></span>
  </div>
</div>
