<%# 特殊能力（値あり）の１box %>
<%# TODO: 金特に対応させる %>
<% case ability_value
  when 2..3
    bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-g1', 'pawa-bg-sa-g2', 'pawa-text-good'
  when -3..-2
    bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-b1', 'pawa-bg-sa-b2', 'pawa-text-bad'
  when 4
    bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-sp1', 'pawa-bg-sa-sp2', 'pawa-text-special'
  else
    bg_class_1, bg_class_2, text_class = 'pawa-bg-sa-n1', 'pawa-bg-sa-n2', 'pawa-text-neutral'
  end
%>
<div class="col fs-3 <%= bg_class_1 %> rounded">
  <div class="row pt-1 pb-1 ps-1 text-center">
    <span class="col-10 rounded px-3 <%= "#{bg_class_2} #{text_class}" %>"><%= raw(ability_name.presence || '&nbsp;') %></span>
    <span class="col-2 ps-2 text-light"><%= display_special_ability_alphabet(ability_value) %></span>
  </div>
</div>
