<%= turbo_frame_tag "pawapuro_details_modal" do %>
  <div class="modal fade" tabindex="-1" aria-hidden="true" data-controller="pawapuro-details-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content pawa-bg-main">
        <div class="modal-body">
          <div>hello!</div>
        </div>
      </div>
    </div>
  </div>
<% end %>