// 文字色
// 全体
.pawa-text-main {
  color: #2274B1 !important;
}

// 基礎能力
.pawa-text-s {
  color: #E76C93 !important;
}

.pawa-text-a {
  color: #DD07AC !important;
}

.pawa-text-b {
  color: #DA0912 !important;
}

.pawa-text-c {
  color: #EC810E !important;
}

.pawa-text-d {
  color: #BDB005 !important;
}

.pawa-text-e {
  color: #39CC05 !important;
}

.pawa-text-f {
  color: #086DF4 !important;
}

.pawa-text-g {
  color: #898687 !important;
}

// 特殊能力
.pawa-text-special {
  color: #A16E38 !important;
}

.pawa-text-good {
  color: #4285B3 !important;
}

.pawa-text-bad {
  color: #AB4D51 !important;
}

.pawa-text-sub {
  color: #32865D !important;
}

.pawa-text-neutral {
  color: #B2D8E1 !important;
}

// 上下2色
.pawa-text-gb {
  background: linear-gradient(to bottom, #4285B3 50%, #AB4D51 50%);
  -webkit-background-clip: text;
  /* Safari用 */
  background-clip: text;
  /* 標準プロパティ */
  color: transparent;
}


// ボーダー色
// 全体
.pawa-border-main {
  border: 3px solid #C6D9F2;
}

// 全体（内側）
.pawa-border-main-in {
  box-shadow: 0 0 0 5px #C6D9F2 inset;
}

// 選手名
.pawa-border-outfielder {
  border: 3px solid #37A238;
}


// 背景色
// 全体
.pawa-bg-main {
  background-color: #E5F4FA !important;
}

.pawa-bg-sub {
  background-color: #C6D9F2 !important;
}

.pawa-bg-s {
  background-color: #E76C93 !important;
}

.pawa-bg-a {
  background-color: #DD07AC !important;
}

.pawa-bg-b {
  background-color: #DA0912 !important;
}

.pawa-bg-c {
  background-color: #EC810E !important;
}

.pawa-bg-d {
  background-color: #BDB005 !important;
}

.pawa-bg-e {
  background-color: #39CC05 !important;
}

.pawa-bg-f {
  background-color: #086DF4 !important;
}

.pawa-bg-g {
  background-color: #898687 !important;
}

// 選手名
.pawa-bg-sa-outfielder {
  background-color: #68F177 !important;
}

// 特殊能力（special ability）
.pawa-bg-sa-sp1 {
  background-color: #CEB055 !important;
}

.pawa-bg-sa-sp2 {
  background-color: #FCE1AF !important;
}

.pawa-bg-sa-g1 {
  background-color: #09B3D4 !important;
}

.pawa-bg-sa-g2 {
  background-color: #BAF8FF !important;
}

.pawa-bg-sa-b1 {
  background-color: #FA5E62 !important;
}

.pawa-bg-sa-b2 {
  background-color: #FFCBCF !important;
}

.pawa-bg-sa-gb1 {
  background: linear-gradient(90deg, #09B3D4 0%, #09B3D4 50%, #FA5E62 50%, #FA5E62 100%) !important;
}

.pawa-bg-sa-gb2 {
  background: linear-gradient(90deg, #BAF8FF 0%, #BAF8FF 50%, #FFCBCF 50%, #FFCBCF 100%) !important;
}

.pawa-bg-sa-sb1 {
  background-color: #48BFAE !important;
}

.pawa-bg-sa-sb2 {
  background-color: #B2F5C8 !important;
}

.pawa-bg-sa-n1 {
  background-color: #A8E6FF !important;
}

.pawa-bg-sa-n2 {
  background-color: #DDF8FF !important;
}


// その他
// 文字間隔を狭くする
.tighter-letter-spacing {
  letter-spacing: -2.0px;
}

// デフォルトサイズから小さくする
.small-font {
  font-size: 0.8em;
}

// 変化球ブロックのフォントサイズ
.pawa-breaking-font {
  font-size: 12px;
}

// 変化球ブロック：あり
.pawa-breaking-block-exist {
  background: linear-gradient(#DB4A38, #FEEF31);
  border: 2px solid #2274B1;
  // box-shadow: 0 0 0 2px #2274B1 inset;
  height: 8px;
}

// 変化球ブロック：なし
.pawa-breaking-block-nil {
  background-color: #4DBAFF;
  border: 2px solid #2274B1;
  // box-shadow: 0 0 0 2px #2274B1 inset;
  height: 8px;
}

// 能力ラベル
.pawa-ability-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #C6D9F2;
  font-weight: bold;
  border-radius: 0.2rem; // bounded
  padding: 0.25rem; // p-1
  background-color: #ffffff; // bg-white
  width: 100px;
  height: 100%;

  // スマホの場合のフォントサイズを小さくする
  @media (max-width: 480px) {
    font-size: 0.75rem;
    width: 50px;
  }
}

// 特能チェックボックス
.pawa-checkbox-sp {
  border: 2px solid #CEB055 !important;

  &:checked {
    background-color: #CEB055 !important;
  }
}

.pawa-checkbox-g {
  border: 2px solid #09B3D4 !important;

  &:checked {
    background-color: #09B3D4 !important;
  }
}

.pawa-checkbox-b {
  border: 2px solid #FA5E62 !important;

  &:checked {
    background-color: #FA5E62 !important;
  }
}

.pawa-checkbox-gb {
  // FIXME: 上下で色を分けたい
  border: 2px solid #FA5E62 !important;

  &:checked {
    background-color: #09B3D4 !important;
  }
}

.pawa-checkbox-sb {
  border: 2px solid #68F177 !important;

  &:checked {
    background-color: #68F177 !important;
  }
}

// TODO: ブレイクポイントの見直し
// PCサイズ
@media (min-width: 992px) {}

// スマートフォンサイズ
@media (max-width: 991px) {
  .h3 {
    font-size: 1rem;
  }

}