// HACK: 色を変数に入れて管理
// 文字色
// 背景色
// 特殊能力BOX
$good-bold-light-color: #58C1D3;
$good-bold-dark-color: #09B3D4;
$good-background-light-color: #D8F6FF;
$good-background-dark-color: #ABF4FB;
$bad-bold-light-color: #FAA4A2;
$bad-bold-dark-color: #FA5E62;
$bad-background-light-color: #FFDEDD;
$bad-background-dark-color: #FFCBCF;
$special-bold-light-color: #D2B861;
$special-bold-dark-color: #D1AF36;
$special-background-light-color: #F8E7D3;
$special-background-dark-color: #F7DDA7;
$sub-bold-light-color: #80EEB6;
$sub-bold-dark-color: #47CC9D;
$sub-background-light-color: #DFF8E3;
$sub-background-dark-color: #AEFAC4;
$neutral-bold-light-color: #BAEAFA;
$neutral-bold-dark-color: #ADE6FE;
$neutral-background-light-color: #E5F6FE;
$neutral-background-dark-color: #DEF7FE;

// 文字
// 全体
.pawa-text-main {
  color: #2274B1 !important;
}

// 基礎能力
.pawa-text-s {
  color: #E76C93 !important;
}

.pawa-text-a {
  color: #DD07AC !important;
}

.pawa-text-b {
  color: #DA0912 !important;
}

.pawa-text-c {
  color: #EC810E !important;
}

.pawa-text-d {
  color: #BDB005 !important;
}

.pawa-text-e {
  color: #39CC05 !important;
}

.pawa-text-f {
  color: #086DF4 !important;
}

.pawa-text-g {
  color: #898687 !important;
}

// 特殊能力
.pawa-text-special {
  color: #A16E38 !important;
}

.pawa-text-good {
  color: #4285B3 !important;
}

.pawa-text-bad {
  color: #AB4D51 !important;
}

.pawa-text-sub {
  color: #32865D !important;
}

.pawa-text-neutral {
  color: #B2D8E1 !important;
}

// 上下2色
.pawa-text-gb {
  background: linear-gradient(to bottom, #4285B3 50%, #AB4D51 50%);
  -webkit-background-clip: text;
  /* Safari用 */
  background-clip: text;
  /* 標準プロパティ */
  color: transparent;
}


// ボーダー色
// 全体
.pawa-border-main {
  border: 3px solid #C6D9F2;
}

// 全体（内側）
.pawa-border-main-in {
  box-shadow: 0 0 0 5px #C6D9F2 inset;
}


// 背景色
// 全体
.pawa-bg-main {
  background-color: #E5F4FA !important;
}

.pawa-bg-sub {
  background-color: #C6D9F2 !important;
}

.pawa-bg-s {
  background-color: #E76C93 !important;
}

.pawa-bg-a {
  background-color: #DD07AC !important;
}

.pawa-bg-b {
  background-color: #DA0912 !important;
}

.pawa-bg-c {
  background-color: #EC810E !important;
}

.pawa-bg-d {
  background-color: #BDB005 !important;
}

.pawa-bg-e {
  background-color: #39CC05 !important;
}

.pawa-bg-f {
  background-color: #086DF4 !important;
}

.pawa-bg-g {
  background-color: #898687 !important;
}

// 特殊能力BOX
@mixin pawa-bg-2color($light-color, $dark-color) {
  background: linear-gradient(180deg, $light-color 0%, $light-color 50%, $dark-color 50%, $dark-color 100%);
}

@mixin pawa-bg-4color($good-light-color, $good-dark-color, $bad-light-color, $bad-dark-color) {
  background: conic-gradient($bad-light-color 0%, $bad-light-color 25%, $bad-dark-color 25%, $bad-dark-color 50%, $good-dark-color 50%, $good-dark-color 75%, $good-light-color 75%, $good-light-color 100%);
}

.pawa-bg-sa-g1 {
  @include pawa-bg-2color($good-bold-light-color, $good-bold-dark-color);
}

.pawa-bg-sa-g2 {
  @include pawa-bg-2color($good-background-light-color, $good-background-dark-color);
}

.pawa-bg-sa-b1 {
  @include pawa-bg-2color($bad-bold-light-color, $bad-bold-dark-color);
}

.pawa-bg-sa-b2 {
  @include pawa-bg-2color($bad-background-light-color, $bad-background-dark-color);
}

.pawa-bg-sa-gb1 {
  @include pawa-bg-4color($good-bold-light-color, $good-bold-dark-color, $bad-bold-light-color, $bad-bold-dark-color);
}

.pawa-bg-sa-gb2 {
  @include pawa-bg-4color($good-background-light-color, $good-background-dark-color, $bad-background-light-color, $bad-background-dark-color);
}

.pawa-bg-sa-sp1 {
  @include pawa-bg-2color($special-bold-light-color, $special-bold-dark-color);
}

.pawa-bg-sa-sp2 {
  @include pawa-bg-2color($special-background-light-color, $special-background-dark-color);
}

.pawa-bg-sa-sb1 {
  @include pawa-bg-2color($sub-bold-light-color, $sub-bold-dark-color);
}

.pawa-bg-sa-sb2 {
  @include pawa-bg-2color($sub-background-light-color, $sub-background-dark-color);
}

.pawa-bg-sa-n1 {
  // background-color: #A8E6FF !important;
  @include pawa-bg-2color($neutral-bold-light-color, $neutral-bold-dark-color);
}

.pawa-bg-sa-n2 {
  // background-color: #DDF8FF !important;
  @include pawa-bg-2color($neutral-background-light-color, $neutral-background-dark-color);
}


// その他
// 文字間隔を狭くする
.tighter-letter-spacing {
  letter-spacing: -2.0px;
}

// デフォルトサイズから小さくする
.small-font {
  font-size: 0.8em;
}

// 変化球ブロックのフォントサイズ
.pawa-breaking-font {
  font-size: 12px;
}

// 変化球ブロック：あり
.pawa-breaking-block-exist {
  background: linear-gradient(#DB4A38, #FEEF31);
  border: 2px solid #2274B1;
  // box-shadow: 0 0 0 2px #2274B1 inset;
  height: 8px;
}

// 変化球ブロック：なし
.pawa-breaking-block-nil {
  background-color: #4DBAFF;
  border: 2px solid #2274B1;
  // box-shadow: 0 0 0 2px #2274B1 inset;
  height: 8px;
}

// 選手名BOX
@mixin pawa-player-name-box($border-color) {
  box-shadow: inset 0px 15px rgba(#ffffff, .3), inset 0 0 5px rgba(#ffffff, .75);
  border: 3px solid $border-color;
  text-align: center;
  border-radius: .25rem;
}

.pawa-player-name-box-s {
  @include pawa-player-name-box(#B65A45);
  background-color: #FF9878 !important;
}

.pawa-player-name-box-r {
  @include pawa-player-name-box(#B67188);
  background-color: #FDB3D2 !important;
}

.pawa-player-name-box-c {
  @include pawa-player-name-box(#2694B7);
  background-color: #12ECFE !important;
}

.pawa-player-name-box-i {
  @include pawa-player-name-box(#BC923D);
  background-color: #FAD700 !important;
}

.pawa-player-name-box-o {
  @include pawa-player-name-box(#37A238);
  background-color: #68F177 !important;
}

.pawa-player-name-box-sr {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right, #FF9878 50%, #FDB3D2 50%);
}

.pawa-player-name-box-sc {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right, #FF9878 50%, #12ECFE 50%);
}

.pawa-player-name-box-si {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right, #FF9878 50%, #FAD700 50%);
}

.pawa-player-name-box-so {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right, #FF9878 50%, #68F177 50%);
}

.pawa-player-name-box-rs {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right, #FDB3D2 50%, #FF9878 50%);
}

.pawa-player-name-box-rc {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right, #FDB3D2 50%, #12ECFE 50%);
}

.pawa-player-name-box-ri {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right, #FDB3D2 50%, #FAD700 50%);
}

.pawa-player-name-box-ro {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right, #FDB3D2 50%, #68F177 50%);
}

.pawa-player-name-box-ci {
  @include pawa-player-name-box(#2694B7);
  background: linear-gradient(to right, #12ECFE 50%, #FAD700 50%);
}

.pawa-player-name-box-co {
  @include pawa-player-name-box(#2694B7);
  background: linear-gradient(to right, #12ECFE 50%, #68F177 50%);
}

.pawa-player-name-box-ic {
  @include pawa-player-name-box(#BC923D);
  background: linear-gradient(to right, #FAD700 50%, #12ECFE 50%);
}

.pawa-player-name-box-io {
  @include pawa-player-name-box(#BC923D);
  background: linear-gradient(to right, #FAD700 50%, #68F177 50%);
}

.pawa-player-name-box-oc {
  @include pawa-player-name-box(#37A238);
  background: linear-gradient(to right, #68F177 50%, #12ECFE 50%);
}

.pawa-player-name-box-oi {
  @include pawa-player-name-box(#37A238);
  background: linear-gradient(to right, #68F177 50%, #FAD700 50%);
}

.pawa-player-name-box-src {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right,
      #FF9878 0%, #FF9878 33.33%,
      #FDB3D2 33.33%, #FDB3D2 66.66%,
      #12ECFE 66.66%, #12ECFE 100%);
}

.pawa-player-name-box-sri {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right,
      #FF9878 0%, #FF9878 33.33%,
      #FDB3D2 33.33%, #FDB3D2 66.66%,
      #FAD700 66.66%, #FAD700 100%);
}

.pawa-player-name-box-sro {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right,
      #FF9878 0%, #FF9878 33.33%,
      #FDB3D2 33.33%, #FDB3D2 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-sci {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right,
      #FF9878 0%, #FF9878 33.33%,
      #12ECFE 33.33%, #12ECFE 66.66%,
      #FAD700 66.66%, #FAD700 100%);
}


.pawa-player-name-box-sco {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right,
      #FF9878 0%, #FF9878 33.33%,
      #12ECFE 33.33%, #12ECFE 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-sio {
  @include pawa-player-name-box(#B65A45);
  background: linear-gradient(to right,
      #FF9878 0%, #FF9878 33.33%,
      #FAD700 33.33%, #FAD700 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-rsc {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right,
      #FDB3D2 0%, #FDB3D2 33.33%,
      #FF9878 33.33%, #FF9878 66.66%,
      #12ECFE 66.66%, #12ECFE 100%);
}

.pawa-player-name-box-rsi {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right,
      #FDB3D2 0%, #FDB3D2 33.33%,
      #FF9878 33.33%, #FF9878 66.66%,
      #FAD700 66.66%, #FAD700 100%);
}

.pawa-player-name-box-rso {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right,
      #FDB3D2 0%, #FDB3D2 33.33%,
      #FF9878 33.33%, #FF9878 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-rci {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right,
      #FDB3D2 0%, #FDB3D2 33.33%,
      #12ECFE 33.33%, #12ECFE 66.66%,
      #FAD700 66.66%, #FAD700 100%);
}

.pawa-player-name-box-rco {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right,
      #FDB3D2 0%, #FDB3D2 33.33%,
      #12ECFE 33.33%, #12ECFE 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-rio {
  @include pawa-player-name-box(#B67188);
  background: linear-gradient(to right,
      #FDB3D2 0%, #FDB3D2 33.33%,
      #FAD700 33.33%, #FAD700 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-cio {
  @include pawa-player-name-box(#2694B7);
  background: linear-gradient(to right,
      #12ECFE 0%, #12ECFE 33.33%,
      #FAD700 33.33%, #FAD700 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-ico {
  @include pawa-player-name-box(#BC923D);
  background: linear-gradient(to right,
      #FAD700 0%, #FAD700 33.33%,
      #12ECFE 33.33%, #12ECFE 66.66%,
      #68F177 66.66%, #68F177 100%);
}

.pawa-player-name-box-oci {
  @include pawa-player-name-box(#37A238);
  background: linear-gradient(to right,
      #68F177 0%, #68F177 33.33%,
      #12ECFE 33.33%, #12ECFE 66.66%,
      #FAD700 66.66%, #FAD700 100%);
}

// 能力ラベル（値なし）
.pawa-ability-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #C6D9F2;
  font-weight: bold;
  border-radius: 0.2rem; // bounded
  padding: 0.25rem; // p-1
  background-color: #ffffff; // bg-white
  width: 100px;
  height: 100%;

  // スマホの場合のフォントサイズを小さくする
  @media (max-width: 480px) {
    font-size: 0.75rem;
    width: 50px;
  }
}

// 能力ラベル（値あり）
.pawa-ability-label-variable {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #C6D9F2;
  font-weight: bold;
  border-radius: 0.2rem; // bounded
  padding: 0.25rem; // p-1
  background-color: #ffffff; // bg-white
  width: 100px;
  height: 100%;

  // スマホの場合のフォントサイズを小さくする
  @media (max-width: 480px) {
    font-size: 0.75rem;
    width: auto;
  }
}

// 特能チェックボックス
.pawa-checkbox-sp {
  border: 2px solid #CEB055 !important;

  &:checked {
    background-color: #CEB055 !important;
  }
}

.pawa-checkbox-g {
  border: 2px solid #09B3D4 !important;

  &:checked {
    background-color: #09B3D4 !important;
  }
}

.pawa-checkbox-b {
  border: 2px solid #FA5E62 !important;

  &:checked {
    background-color: #FA5E62 !important;
  }
}

.pawa-checkbox-gb {
  // FIXME: 上下で色を分けたい
  border: 2px solid #FA5E62 !important;

  &:checked {
    background-color: #09B3D4 !important;
  }
}

.pawa-checkbox-sb {
  border: 2px solid #68F177 !important;

  &:checked {
    background-color: #68F177 !important;
  }
}

// TODO: ブレイクポイントの見直し
// PCサイズ
@media (min-width: 992px) {}

// スマートフォンサイズ
@media (max-width: 991px) {
  #responsive-font-size {
    font-size: 0.75rem;
  }
}